rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read their own user document to get their role.
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      // Admins can create/update user roles. Tenants cannot.
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Tenants and Admins need to read properties.
    match /properties/{document=**} {
        allow read: if request.auth != null;
    }

    // Admins can write to properties.
    match /properties/{propertyId} {
        allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Tenants and Admins need to read tenants.
    match /tenants/{document=**} {
       allow read: if request.auth != null;
    }
    
    // Admins can write to tenants.
    match /tenants/{tenantId} {
        allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
